<div class="simple-form">
    <div class="text-center">
        <button @onclick="SubmitForm" class="custom-small-button">Bestätigen</button>
        <button @onclick="Cancel" class="custom-small-button trash">Abbrechen</button>
    </div>

</div>