@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="full-size">
    <AuthorizeView>
        <Authorized>
            <a href="account/overview">Hallo, @context.User.Identity.Name!</a>
            <a href="LogOut">Log out</a>
        </Authorized>
        <Authorizing>
            <a href="Register">Register</a>
            <a href="Login">Login</a>
        </Authorizing>
        <NotAuthorized>
            <a href="Register">Register</a>
            <a href="Login">Login</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
<div class="small-size">
    <AuthorizeView>
        <Authorized>
            <a href="account/overview"><i class="fas fa-user-circle"></i></a>
            <a href="LogOut"><i class="fas fa-sign-out-alt"></i></a>
        </Authorized>
        <Authorizing>
            @* <a href="Register">Register</a> *@
            <a href="Login"><i class="fas fa-sign-in-alt"></i></a>
        </Authorizing>
        <NotAuthorized>
            @* <a href="Register">Register</a> *@
            <a href="Login"><i class="fas fa-sign-in-alt"></i></a>
        </NotAuthorized>
    </AuthorizeView>
</div>