@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using SpiritTime.Frontend.Partials.Toasts
@using SpiritTime.Frontend.Partials.ToastModal

<BaseOverlay />

<BlazoredToasts Position="@ToastPosition.TopRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="oi oi-circle-check"
                ErrorIconClass="oi oi-circle-x"
                WarningIconClass="oi oi-warning"/>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-5">
        <div>
            @*<AuthorizeView>
                    <NotAuthorized>
                        <NavLink class="nav-link main" href="">
                            VocaDrill
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>*@
        </div>
        <div>
            <LoginMenu />
        </div>

        @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
