<button class="navbar-toggler" @onclick="ToggleNavMenu">
    <i class="fas fa-bars"></i>
</button>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tasks/overview">
                <i class="fas fa-tasks"></i>&nbsp;&nbsp; Tasks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tags/overview">
                <i class="fas fa-tags"></i>&nbsp;&nbsp; Tags
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rules/overview">
                <i class="fas fa-check-double"></i>&nbsp;&nbsp; Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="workspace/overview">
                <i class="fas fa-store-alt"></i>&nbsp;&nbsp; Workspaces
            </NavLink>
        </li>
        <hr/>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="options/overview">
                <i class="fas fa-cogs"></i>&nbsp;&nbsp; Options
            </NavLink>
        </li>
        <hr/>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}