
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="tasks/overview">
                <i class="fas fa-tasks"></i>&nbsp;&nbsp; <p>Tasks</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="tags/overview">
                <i class="fas fa-tags"></i>&nbsp;&nbsp; <p>Tags</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="rules/overview">
                <i class="fas fa-check-double"></i>&nbsp;&nbsp; <p>Rules</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="workspace/overview">
                <i class="fas fa-store-alt"></i>&nbsp;&nbsp; <p>Workspaces</p>
            </NavLink>
        </li>
        <hr/>
        <li class="nav-item">
            <NavLink class="nav-link" href="options/overview">
                <i class="fas fa-cogs"></i>&nbsp;&nbsp; <p>Options</p>
            </NavLink>
        </li>
        <hr/>
    </ul>



