@page "/"
<div class="center-and-highlight">
    <div class="text-center custom-background mt-lg-5 mt-sm-0">
        <h1>Willkommen</h1>

        <h4 class="mb-1">Dies ist die Startseite von SpiritTime</h4>
        <hr />
        <p>
            Beschreibung der Applikation und Informationen über die Entwickler.
        </p>
    </div>

</div>