@page "/login"
<div class="center-and-highlight">
    <div class="col-xl-4 col-lg-6 col-md-8 col-xs-12 custom-background mt-5">
        <AuthorizeView>
            <Authorized>

                <div class="text-center">
                    <h1 class="mb-3">Login</h1>
                    <h5>Du bist angemeldet.</h5>
                </div>
            </Authorized>
            <Authorizing>
                <div class="text-center">
                    <h1 class="mb-3">Login</h1>
                    <h5>... authorizing ...</h5>
                </div>
            </Authorizing>
            <NotAuthorized>
                <div class="text-center">
                    <div class="menu-switch">
                        <a class="login active">
                            <h2>Login</h2>
                        </a>
                        <a href="Register" class="register">
                            <h2>Register</h2>
                        </a>
                    </div>
                    
                    <h5>@TextMsg.LoginText</h5>
                </div>
                <hr/>
                @if (ShowErrors)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>@Error</p>
                    </div>
                }
                <EditForm Context="edit_context" Model="LoginModel" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator/>
                    <div class="form-group">
                        <label for="email">Emailadresse</label>
                        <InputText Id="email" Class="form-control" @bind-Value="LoginModel.Email"/>
                        <ValidationMessage For="@(() => LoginModel.Email)"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <InputText Id="password" type="password" Class="form-control" @bind-Value="LoginModel.Password"/>
                        <ValidationMessage For="@(() => LoginModel.Password)"/>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn custom-primary">Anmelden</button>
                    </div>
                </EditForm>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>