@page "/register"
<div class="center-and-highlight">
    <div class="text-center custom-background mt-lg-5 mt-sm-0">
        <h1>Under Development</h1>
        <hr />
        <p>
            Right now this application is under development, but if you are interested into testing it once I am going to let beta testers register, please let me know:
        </p>

        <a href="mailto:beta@spiritlabs.dev">
            <h4>beta@spiritlabs.dev</h4>
        </a>
    </div>

</div>